extends ../application.pug

block content
  .container
    .row
      .col-xs-8.offset-xs-2
        div(class="form-group")
          a(href="/admin/users") Admin Users 
          a(href="/admin/movies") Admin Movies
