extends application

block content

	.page-header
		.container.text-center
			hr
			h1 Welcome movielovers!
			small for everyone who loves to go to the movies, but hates to go alone. register to get in touch with likeminded cinephiles!
			hr
		.container
			.row
				.col-xs-3
					.card.card-block
						.thumbnail
							img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
							.caption
								h3 Fantastic Beasts and Where to Find Them
									a.btn.btn-primary(href='#' role="button") check it out!
				.col-xs-3
					.card.card-block
						.thumbnail
							img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
							.caption
								h3 Fantastic Beasts and Where to Find Them
									a.btn.btn-primary(href='#' role="button") check it out!
				.col-xs-3
					.card.card-block
						.thumbnail
							img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
							.caption
								h3 Fantastic Beasts and Where to Find Them
									a.btn.btn-primary(href='#' role="button") check it out!
				.col-xs-3
					.card.card-block
						.thumbnail
							img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
							.caption
								h3 Fantastic Beasts and Where to Find Them
									a.btn.btn-primary(href='#' role="button") check it out!







//- .container
//-       .row
//-         each book in books
//-           .col-xs-3
//-             a(href="/books/" + book.slug)
//-               img(width="225" height="335" src=book.imageURL)
//-               h3= book.title
