extends application

block content

	.page-header
		h1 Welcome movielovers!
		small for everyone who loves to go to the movies, but hates to go alone. register to get in touch with likeminded cinephiles!

		.container
			.row
				.col-xs-3
					.thumbnail
						img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
						.caption
							h3 Fantastic Beasts and Where to Find Them
							p The year is 1926, and Newt Scamander (Eddie Redmayne) has just completed a global excursion to find and document an extraordinary array of magical creatures. Arriving in New York for a brief stopover, he might have come and gone without incident, were it not for a No-Maj (American for Muggle) named Jacob, a misplaced magical case, and the escape of some of Newt's fantastic beasts, which could spell trouble for both the wizarding and No-Maj worlds.
								a.btn.btn-primary(href='#' role="button") check it out!
				.col-xs-3
					.thumbnail
						img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
						.caption
							h3 Fantastic Beasts and Where to Find Them
							p The year is 1926, and Newt Scamander (Eddie Redmayne) has just completed a global excursion to find and document an extraordinary array of magical creatures. Arriving in New York for a brief stopover, he might have come and gone without incident, were it not for a No-Maj (American for Muggle) named Jacob, a misplaced magical case, and the escape of some of Newt's fantastic beasts, which could spell trouble for both the wizarding and No-Maj worlds.
								a.btn.btn-primary(href='#' role="button") check it out!
				.col-xs-3
					.thumbnail
						img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
						.caption
							h3 Fantastic Beasts and Where to Find Them
							p The year is 1926, and Newt Scamander (Eddie Redmayne) has just completed a global excursion to find and document an extraordinary array of magical creatures. Arriving in New York for a brief stopover, he might have come and gone without incident, were it not for a No-Maj (American for Muggle) named Jacob, a misplaced magical case, and the escape of some of Newt's fantastic beasts, which could spell trouble for both the wizarding and No-Maj worlds.
								a.btn.btn-primary(href='#' role="button") check it out!
				.col-xs-3
					.thumbnail
						img(src="http://photos.laineygossip.com/articles/fantastic-beasts-sequel-03aug16.jpg" width="220" height="330")
						.caption
							h3 Fantastic Beasts and Where to Find Them
							p The year is 1926, and Newt Scamander (Eddie Redmayne) has just completed a global excursion to find and document an extraordinary array of magical creatures. Arriving in New York for a brief stopover, he might have come and gone without incident, were it not for a No-Maj (American for Muggle) named Jacob, a misplaced magical case, and the escape of some of Newt's fantastic beasts, which could spell trouble for both the wizarding and No-Maj worlds.
								a.btn.btn-primary(href='#' role="button") check it out!







//- .container
//-       .row
//-         each book in books
//-           .col-xs-3
//-             a(href="/books/" + book.slug)
//-               img(width="225" height="335" src=book.imageURL)
//-               h3= book.title
