extends ./application.pug

block content
	.container
		.row
			.col-xs-8.offset-xs-2

				br
				h1 Login:
				hr
				form(action="/login" method="POST")
					div(class="form-group")
						lable(for="email") Email:
						input(name="email" type="text" class="form-control")
					div(class="form-group")
						lable(for="password") Password:
						input(name="password" type="password" class="form-control" )

					div(class="form-group text-xs-center")
						button(type="submit" class="btn btn-block btn-success") Login User
