extends Application

block content
	.container
		.row
			.col-xs-8.offset-xs-2
				h1 new movie
				hr
				form(action="/newmovie" method="POST")
					.form-group
						label(for="movie-title") title
						input.form-control(name="title" type="text" id="movie-title")
					.form-group
						label(for="movie-poster") posterUrl
						input.form-control(name="posterUrl" type="text" id="movie-poster")
					.form-group
						label(for="movie-director") director
						input.form-control(name="director" type="text" id="movie-director")
					.form-group
						label(for="movie-starring") starring
						input.form-control(ame="starring" type="text" id="movie-starring")
					.form-group
						label(for="movie-description") description
						textarea.form-control(name="description" rows=5 id="movie-description")
					.form-group
						button.btn.btn-lg.btn-success(type="submit") Submit new movie
