extends ../../application.pug

block content
  h1 Users List
  each user in users
    .container
      .card.card-block
        .row
          .col-xs-4
            img(src=user.profileImageURL height="200" class="rounded float-xs-left")
          .col-xs-4
            h5="Name: " + user.name + " " + user.surname
            h5="Email: " + user.email
            h5="Age: " + user.age

          //- .col-xs-3.offset-xs-6
          //-   a(href="/admin/users/" + user.id + "/edit" class="btn btn-warning") EDIT USER
          .col-xs-3
            form(action="/admin/users/" + user.id method="POST")
              input(type="hidden" name="_method" value="DELETE")
              button(type="submit", class="btn btn-danger btn-block") DELETE
