extends Application

block content
	.container
		.row
			.col-xs-8.offset-xs-2
				h1 new movie
				hr
				form(action="/newmovie" method="POST")
					.form-group
						label(for="movie-title") title
						input.form-control(name="title" type="string" id="movie-title")
					.form-group
						label(for="movie-poster") posterUrl
						input.form-control(name="coverImageURL" type="string" id="movie-poster")
					.form-group
						label(for="movie-trailer") trailer
						input.form-control(ame="trailer" type="string" id="movie-trailer")
					.form-group
						label(for="movie-slug") slug
						input.form-control(ame="slug" type="string" id="movie-slug")
					.form-group
						label(for="movie-director") director
						input.form-control(name="directorName" type="string" id="movie-director")
					.form-group
						label(for="movie-starring") starring
						input.form-control(ame="actorNames" type="string" id="movie-starring")
					.form-group
						label(for="movie-language") language
						input.form-control(ame="language" type="string" id="movie-language")
					.form-group
						label(for="movie-subtitles") subtitles
						input.form-control(ame="subtitles" type="string" id="movie-subtitles")
					.form-group
						label(for="movie-genre") genre
						input.form-control(ame="genre" type="string" id="movie-genre")
					.form-group
						label(for="movie-length") length in minutes
						input.form-control(ame="lengthInMin" type="integer" id="movie-length")
					.form-group
						label(for="movie-description") description
						textarea.form-control(name="description" type="text" rows=5 id="movie-description")
					.form-group
						button.btn.btn-lg.btn-success(type="submit") Submit new movie
