extends ../application.pug

block content

	.container
		hr
		h2 Your messages:
		hr
		.row

			.col-xs-8
				.card.card-block
					h4 Here goes the messages


				.fixed-bottom
					form(action="/messages/" + user.id method="POST")
						input(type="hidden" name="senderId" value=user.id)
						input(type="hidden" name="receiverId" value=match)
						.form-group

							textarea(name="content" class="form-control" rows=5)
						.form-group.text-xs-right
							button(type="submit" class="btn btn-success") Send Message
