extends ../application.pug

block content

	.page-header
		.jumbotron
			.container.text-xs-center

				h1 Welcome to MovieMatch!
				h5 for everyone who loves to go to the movies, but hates to go alone.

		.container
			.row
				each movie in movies
					.col-xs-3
						.card.card-block
							.caption
								h5= movie.title
								.thumbnail
									img(src=movie.coverImageURL width="200" height="300")

									a.btn.btn-primary(href="/movies/" + movie.slug role="button") Like this movie!
