extends ../application.pug

block content
	.container
		.row
			.col-xs-12
				hr
				h2 Message your MovieMatch:
				hr
		each match in matchedUsers
			.card.card-block
				.row
					.col-xs-2
						img(height="150" width="150" src=match.profileImageURL, alt='No profile picture')
					.col-xs-10
						h2= match.name
						p= match.email
						a(href="/messages/" + match.id)
							button(class="btn btn-primary float-xs-right" type="submit") Send a message
