extends ../application.pug

block content
<<<<<<< HEAD

=======
>>>>>>> master
	.container
		.row
			.col-xs-12
				hr
				h2 Message your MovieMatch:
				hr
<<<<<<< HEAD
		//-each message in messages
			.card.card-block
				.row
					.col-xs-4
						h2= message.title
						p= message.body
=======
		each match in matchedUsers
			.card.card-block
				.row
					.col-xs-4
						h2= match.name
						p= match.email
>>>>>>> master
