extends ../application.pug

block content
	.container
		.row
			.col-xs-12
				hr
				h2 Message your MovieMatch:
				hr
		each match in matchedUsers
			.card.card-block
				.row
					.col-xs-4
						h2= match.name
						p= match.email
